<section class="createPost">
    <h2>Добавете новина:</h2>
    <form id="createPost">
        <fieldset>
            <p class="field">
                <label for="postname">Заглавие:</label>
                <input type="text" id="postname" name="postname" placeholder="Enter your post">
            </p>
            <p class="field">
                <label for="post">Новина:</label>
                <textarea>Напишете новината тук ....</textarea>
            </p>
            <p class="field">
                <label for="postImg">Снимка:</label>
                <input type="image/jpeg" id="postImg" name="postImg" placeholder="Enter your foto">
            </p>
            <input type="submit" class="createpost" value="Добави">
        </fieldset>
    </form>
</section>