html {
box-sizing: border-box;
width: 100%;
}

* {
    box-sizing: inherit;
}

body {
    background-color: lightcoral;
}

section {
    border: 5px solid blue;
    /* margin-bottom: 10px; */
}
h1 {
    text-align: center;
}
.recept, .post {
    display: inline-block;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

img {
    width: 100%;
}


form {
	max-width: 70%;
}
/* 
form,
form fieldset,
form label,
form input,
form textarea,
form select {
	display: block;
}

form fieldset {
	border: 1px solid #666;
	background: #F9F9F9;
	border-radius: 0.3rem;
	box-shadow: 0 0 1rem 0.1rem rgba(0,0,0,0.1);
}

form fieldset {
	padding: 2.5em 2em 2em 2em;
	position: relative;
} */
