html {
box-sizing: border-box;
width: 100%;
}

* {
    box-sizing: inherit;
}

body {
    background-color: lightcoral;
}

.recept, .post {
    display: inline-block;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

img {
    width: 100%;
}