<section class="login">
    <h2>Вход:</h2>
    <form id="login">
        <fieldset>

            <p class="field">
                <label for="username">Име:</label>
                <input type="text" id="username" name="username" placeholder="Enter your Username">
            </p>
            <p class="field">
                <label for="password">Парола:</label>
                <input type="password" id="password" name="password" placeholder="Enter your Password">
            </p>
            <input type="submit" class="login" value="Вход">
        </fieldset>
    </form>
</section>