<header>
    <div>
        <h3 class="logo">Logo</h3>
        <nav>
            <ul>
                <li>
                    <a href="#">Начало</a>
                </li>
                <li>
                    <a href="/views/user/register.html">Регистрация</a>
                </li>
                <li>
                    <a href="/views/user/login.html">Вход</a>
                </li>
                <li>
                    <a href="#">Добре дошъл, UserName!</a>
                </li>
                <li>
                    <a href="/views/recipe/create.html">Добави рецепта</a>
                </li>
                <li>
                    <a href="/views/post/create.html">Добави новина</a>
                </li>
                <li>
                    <a href="#">Изход</a>
                </li>

            </ul>
        </nav>
    </div>
</header>