<section class="createRecept">
    <h2>Добавете рецепта:</h2>
    <form id="createRecept">
        <fieldset>
            <p class="field">
                <label for="receptname">Име на рецептата:</label>
                <input type="text" id="receptname" name="receptname" placeholder="Enter your recept">
            </p>
            <p class="field">
                <label for="category">Категория:</label>
                <input type="text" id="category" name="category">
            </p>
            <p class="field">
                <label for="products">Необходими продукти:</label>
                <textarea for="products" placeholder="Въведете необходимите продукти"></textarea>
            </p>
            <p class="field">
                <label for="made">Начин на приготвяне:</label>
                <textarea for="made" placeholder="Въведете начина на приготвяне"></textarea>
            </p>
            <p class="field">
                <label for="postImg">Снимка:</label>
                <input type="image/jpeg" id="postImg" name="postImg" placeholder="Enter your foto">
            </p>
            <input type="submit" class="createRecept" value="Добави">
        </fieldset>
    </form>
</section>