.App {
  height: 100vh;
}

header, footer, section {
  background: rgba(240, 230, 230, 0.76);
}

header {
  width: 100%;
  height: auto;
  text-align: center;
}

.main {
  display: flex;
  /* height: 80%; */
}

section {
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
  text-align: center;
  /* height: 100%; */
  /* align-items: center; */
}

h1 {
  text-align: center;
  margin-top: 0;
}

.recepts-container {
  /* justify-content: center; */
  /* justify-content: space-around; */
  display: flex;
}

.recepts-container>div {
  width: 90%;
}

.recepts {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  flex-wrap: wrap;
}

.recept, .post {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.recept {
  width: 23%;
  /* margin: 5px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
}

.post {
  width: 48%;
}

.details {
  display: flex;
}

a {
  text-decoration: none;
  /* text-align: center; */
  color: black;
  padding: 7px;
  font-size: 18px;
  margin: 10px 5px;
  border-radius: 5px;
}

a:hover {
  background-color: white;
  /* rgb(253, 252, 252); */
}

.info-link {
  color: blue;
  /* margin: 5px 2px; */
}

.postImg {
  float: left;
  width: 300px;
}

.detailsImg {
  float: left;
  width: 40%;
  /* height: 100%; */
  margin: 10px;
}

img {
  width: 100%;
}

form {
  max-width: 100%;
  align-items: center;
  margin: 20px;
}

fieldset {
  margin: 5%;
  padding: 7%;
}

.logo {
  font-size: 22px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.search {
  /* flex: -1; */
  /* display: inline-flex; */
  margin: 0 30px 0 auto;
}

.search input, form input {
  width: 250px;
  padding: 2px;
}

textarea {
  width: 500px;
  height: 150px;
}