a {
    text-decoration: none;
    /* text-align: center; */
    color: black;
    padding: 7px;
    font-size: 18px;
    margin: 10px 5px;
    border-radius: 5px;
}

a:hover {
    background-color: white;
    /* rgb(253, 252, 252); */
}

.info-link {
    color: blue;
    /* margin: 5px 2px; */
}